*{
    margin: 0px;
    padding: 0px;
}

/************************
BGR HOME ABOVE 
************************/
.bgr_home{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#name {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#text_location{
    position: absolute;
    top: 92.5%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

/**********************
NAVIGATION 
**********************/

#nav {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.53);
    list-style-type: none;
    display: block;
    text-decoration: none;
    padding: 8px 16px
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 4px 6px;
    margin: 4px 10px;
}

li a:hover {
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(160, 160, 160);
    transition: all 1s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.active{
    border-bottom: 4px solid #fff;
}

/********************
ICONS
********************/
.dropdown{
    position: absolute;
    top: 87%;
    left: 46%;
    color: #8A3B94;
    height: 15vh;
}

.icons{
    position: absolute;
    top: 94%;
    left: 80%;
    /* background-color: #fff; */
}

.icon{
    height: 4vh;
    padding-right: 12.5px;
}

.fa-facebook-square, .fa-instagram, .fa-linkedin, .fa-twitter-square{
    color: #8A3B94;
    margin-left: 12.5px;
}


/********************
PARK IMPRESSIE MET FOTO'S 
********************/

.pictures{
    margin: 40px;
}

.titel_foto {
    margin-left: 0.5vw;
}

.row_foto {
    margin-left: 2.5vw;
}

.foto{
    max-width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

.foto4 {
    margin-left: 40px;
    width: 100%;
}

.impressie{
    float: left;
}

.bottom{
    color: #fff;
    padding-left: 5vw;
}

.container{
    width: 100vw;
    object-fit: cover;
}

/**********************
BUTTON
**********************/

.button {
    background-color: #8A3B94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

    margin-bottom: 7.5vh;
    margin-left: 40vw;
  }

/**********************
FOOTER 
**********************/

#footer{
    background-color: #ADADAD;
    height: 7vh;
}

.text_footer_left {
    float: left;
    padding-left: 5vw;
    padding-top: 1vh;
    color: #fff;
}

.text_footer_right{
    float: right;
    padding-right: 5vw;
    padding-top: 1vh;
    color: #fff;
}