/************************
BUTTONS
************************/
.homepage{
    padding-top: 2vh;
    padding-left: 5vw;
}

.title{
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 0px;
}

.booking_page{
    padding-left: 5vw;
}

.contact_page{
    padding-left: 5vw;
}

.button_homepage {
    background-color: #8A3B94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button_homepage:hover {
    background-color: rgb(135, 0, 153);
}

.button_korting {
    background-color: #8A3B94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button_korting:hover {
    background-color: rgb(135, 0, 153);
}

.button_booking {
    background-color: #8A3B94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button_booking:hover {
    background-color: rgb(135, 0, 153);
}

.button_bericht {
    background-color: #8A3B94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button_bericht:hover {
    background-color: rgb(135, 0, 153);
}

/************************
NAVIGATION 
************************/
#nav {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0, 0.53);
    list-style-type: none;
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    width: 100vw;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 4px 6px;
    margin: 4px 10px;
}

li a:hover {
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(160, 160, 160);
    transition: all 1s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.active{
    border-bottom: 4px solid #fff;
}

/****************************
CARD
****************************/

#card {
    width: 30vw;
    height: 487.875;
    border: 1px solid black;
    margin-left: 5vw;
    position: relative;
    overflow: hidden;
}

.title{
    margin-left: 1.25vw;
    margin-right: 1.25vw;
}

.foto{
    width: 100%;
    height: 100%;
    transition: all 1s;
    object-fit: cover;
}

.image{
    width: 504px;
}

.foto:hover{
 filter: blur(1px);
}

.text{
    margin-left: 1.25vw;
    margin-right: 1.25vw;
}

/*****************
Tekst
*****************/
.hoofdtitel{
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    margin-left: 5vw;
}

.ondertitel{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-left: 5vw;
}

.paragraaf{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    margin-left: 5vw;
}

.navigatie{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 5vw;
}

/**************
Kleuren 
***************/
.accentkleur {
    background-color: #8A3B94;
    margin-left: 5vw;
}

.achtergrondkleur{
    background-color: #F5F5F5;
    margin-left: 5vw;
}

.gewone_tekstkleur, .witte_tekstkleur{
    margin-left: 5vw;
}